{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  {% block meta %}{% endblock meta %}
  {% block base_title %}
  <title>Haskell Cookbook :: {% block title %}Home{% endblock %}</title>
  {% endblock base_title %}

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />
  {% block foundation_css %}
  {% load compressed %}
  {% compressed_css 'foundation' %}
  {% endblock foundation_css %}  
  {% block css %}  
  <link rel="stylesheet" href="{% static "css/pygments.css" %}" type="text/css" />
  <link rel="stylesheet" href="{% static "css/snippets.css" %}" type="text/css" />
  {% endblock css %}
  <link rel="alternate" href="/feeds/latest/" type="application/atom+xml" title="Feed of latest Recipes" />
  {% block feeds %}{% endblock %}

  {% block extra_scripts %}{% endblock %}
</head>
<body class="{% block bodyclass %}snippets{% endblock %}">
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
	<ul class="button-group">
          {% if user.is_authenticated %}
          <li id="nav-account" class="button"><a href="/users/{{ user.username }}/">You</a></li>
          <li id="add-recipe" class="button"><a href="/recipes/add/">Add a recipe</a></li>
	  <li id="logout" class="button"><a href="/accounts/logout/">Log out</a></li>
          {% else %}
          <li id="login" class="button"><a href="/accounts/login/?next={% ifequal request.path "/accounts/logout/" %}/{% else %}{{ request.path }}{% endifequal %}">Log in</a></li>
	  <li id="register" class="button"><a href="/accounts/register/">register</a></li>
          {% endif %}
	</ul>
      </div>
      <h1><a href="/">Haskell Cookbook</a></h1><hr />
    </div>
  </div>


  <div id="content" class="row">
    <h2>{% block content_header %}{% endblock %}</h2>
    <div id="main" class="large-9 columns" role="content">
      {% if messages %}
      {% for message in messages %}
      <div class="{% if message.tags %} message_{{ message.tags }}{% else %}message_info{% endif %}">
	<p class="alert-box success">{{ message }}</p>
      </div>
      {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
    <aside class="large-3 columns">
      <div>
	<ul id="nav-secondary">
	  <li><a href="/users/">By author</a></li>
	  <li><a href="/tags/">By tag</a></li>
	  <li><a href="/popular/rated/">Highest-rated</a></li>
	  <li><a href="/popular/bookmarked/">Most bookmarked</a></li>
	</ul>
      </div>

      <div id="sidebar">
	<div>
          <form method="get" action="/search/">
            <input type="text" name="q" id="id_q" value="{{ request.GET.q }}" placeholder="Search" />
            <button class="your-class-name" type="submit">Go</button>
          </form>
	</div>
	{% block sidebar %}
	{% load core_tags %}
	{% endblock %}
      </div>
    </aside>
  </div>

  <div class="row">
    <div class="large-12 columns">
      {% block extra_content %}
      {% endblock %}
    </div>
  </div>

  <footer id="footer" class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
	<div id="copyright" class="large-6 columns"></div>
	<div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/about">About</a></li>
            <li><a href="/about/tos">Terms of Service</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Heroku</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
