{% extends "base.html" %}
{% load static from staticfiles %}
{% load core_tags %}

{% block title %}Home{% endblock %}

{% block content %}
  {% load cache %}
  {% cache 600 homepage %}
  <h1> {{ "cab.snippet"|call_manager:"count" }} recipes.</h1>
  <h3>Latest recipes</h3>
  <ul id="latest-recipes">
  {% for snippet in "cab.snippet"|latest:10 %}
    <li><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a> by <a href="/users/{{ snippet.author.username }}/">{{ snippet.author.username }}</a> {{ snippet.pub_date|timesince }} ago</li>
  {% endfor %}
  </ul>
  {% endcache %}
{% endblock %}

{% block sidebar %}
<div class="panel">
  <p>Welcome to <a href="http://haskellcookbook.com/">Haskell Cookbook</a>, a site to share useful haskell code, called recipes.</p>

  <p>If you're just here to browse, you can look through recipes organized <a href="/users/">by author</a> or <a href="/tags/">by tag</a>. You can also have a look at the <a href="/popular/rated/">top-rated recipes</a> and the <a href="/popular/bookmarked/">most-bookmarked ones</a>.</p>

  <p>If you'd like to contribute, <a href="/accounts/register/">sign up for a free account</a> and you'll be able to post your own recipes, rate and bookmark recipes, and post comments. If you've got any questions, have a look at our <a href="/about/faq/">FAQ</a>.</p>

  <p><a rel="alternate" href="/feeds/latest/" type="application/atom+xml"><img src="{% static "img/feed-icon-10x10.png" %}" alt="" /> Feed of latest Recipes</a></p>
</div>
{% endblock %}
