@import "foundation";

$bg: darken($secondary-color, 20%);
$radius: 3px;
$disabled: false;

.your-class-name {
  @include button-base;
  @include button-size;
  @include button-style($bg, $radius, $disabled);
}

#main-menu a {
  color: #fff;
}

ul.tags {
  line-height: 1.55em;
  margin-bottom: 1.3em;
  padding-top: 0.3em;
  list-style: none outside none;
  li {
    margin-bottom: 0.8em;
  }

  a:link, .tags a:visited, .tags a:hover, .tags a:focus, .tags a:active, a.flow-tag:link, a.flow-tag:visited, a.flow-tag:hover, a.flow-tag:focus, a.flow-tag:active, .content .tags .selected a:hover, .content .tags .selected a:focus, .content .tags .selected a:active {
    background-color: #111;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    padding: 5px 9px 6px;
  }
  a:link .result-count, a:visited .result-count, a:hover .result-count, a:focus .result-count, a:active .result-count {
    color: #ccc;
    position: relative;
    left: 5px;
  }  
}

ul.socialaccount_providers {
  list-style: none outside none;
  li {
    display:inline;
    padding-right: 20px;
  }    
}
